@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c9f163;
}

#form_container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: #fdfff6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 4px 8px 0px #618700;
}

#form_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: #2c3e00;
    position: relative;
}

h1::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 30px;
    background-color: #c9f163;
    left: 0;
    bottom: 0;
}

.btn_default{
    background-color: #c9f163;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    transition: background-color 0.3s ease;
}

.btn_default:hover{
    background-color: #e3ffa2;
}

form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#input_container{
    display: grid;
    gap: 24px;
}

.form_label{
    font-size: 12px;
    color: #2c3e00;
    font-weight: 500;
}

.input_field{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px #c4c0c0;
}

.input_field i{
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    color: #2c3e00;
}

.erro{
    color: #dc2626;
    font-size: 12px;
    margin-top: 4px;
    max-width: 200px;
}

.input_box .input_field:focus-within{
    outline: 2px solid #c9f163;
}

.input_box.valid .form_label{
    color: #7fa12a;
}

.input_box.valid .input_field{
    border: 1px solid #7fa12a;
}

.input_box.invalid .form_label{
    color: #dc2626;
}

.input_box.invalid .input_field{
    border: 1px solid #dc2626;
}

.radio_container.invalid .form_label {
    color: #dc2626;
}

.form_control{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.form_control:focus{
    outline: none;
}

.radio_container{
    grid-column: span 2;
}

#genero_inputs{
    display: flex;
    gap: 20px;
}

.radio_box{
    display: flex;
    gap: 4px;
    align-items: center;
}

.form_control[type="radio"]{
    accent-color: #c9f163;
}

.icon_senha:hover{
    cursor: pointer;
    color: #c4c0c0;
}